<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="mainHeader" style="background-color: #1d1d1f; padding: 15px; color: white; display: flex; justify-content: space-between; align-items: center;">

    <div>
        <a href="/" style="color: white; font-weight: bold; text-decoration: none; margin-right: 20px;">The Hitchhiker's Guide to the Galaxy</a>
    </div>

    <div>
        <span th:if="${session.loginMember == null}">
            <button type="button" onclick="location.href='/member/login'">Login</button>
            <button type="button" onclick="location.href='/member/register'">Register</button>
        </span>

        <span th:if="${session.loginMember != null}">
            <span th:text="${session.loginMember.username}" style="margin-right: 15px;">User Name</span>
            <button type="button" onclick="location.href='/cart'">Cart</button>
            <button type="button" onclick="location.href='/logout'">Logout</button>
        </span>
    </div>
</div>
</html>