<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DON'T PANIC!</title>
    <!-- 폰트 통일을 위해 부트스트랩 주입 -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        body {
            padding: 8px;
        }
        h1 {
            font-size: 2em;
            margin-top: 0.67em;
            margin-bottom: 0.67em;
            font-weight: bold;
        }
        ul.menu {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 20px;
        }
    </style>
</head>
<body>

<div th:replace="~{common/header :: mainHeader}"></div>

<h3>Menu</h3>

<hr>

<ul class="menu">
    <li><a th:href="@{/info}">INFO</a></li>
    <li><a th:href="@{/shop}">SHOP</a></li>
</ul>

</body>
</html>