<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DON'T PANIC!</title>
    <th:block th:replace="~{common/header :: styles}"></th:block>
</head>
<body data-view="home">

<div th:replace="~{common/header :: mainHeader}"></div>

<div class="page">

    <h1 class="main-title">DON'T PANIC!</h1>
    <p class="main-sub">Every path has a story</p>

    <div class="nav-vertical">
        <a th:href="@{/walk}" class="link-item link-item-primary">
            <span>Walk</span>
            <span class="link-arrow">→</span>
        </a>

        <a th:href="@{/community}" class="link-item link-item-secondary">
            <span>Talk</span>
        </a>

        <a th:href="@{/shop}" class="link-item link-item-secondary">
            <span>Shop</span>
        </a>

        <a th:href="@{/notice}" class="link-item link-item-secondary">
            <span>Notice</span>
        </a>
    </div>
</div>

</body>
</html>
